body {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    background-color: #2b1f31;
    font-weight: 400;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 20px;
    margin-top: 45px;
    text-align: center;
    font-size: 34px;
    color: #fff;
    font-weight: 800;
    border-radius: 10px;
    padding: 5px 0px;
  }
  
  .square {
    background: #f2f2f2;
    border: 3px solid transparent;
    float: left;
    font-size: 70px;
    font-weight: 800;
    line-height: 34px;
    height: 120px;
    width: 120px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    border-radius: 10px;
    margin: 4px;
    font-family: 'Permanent Marker', cursive;
    cursor: pointer;
    user-select: none;
  }
  
  .square:focus {
    outline: none;
  }
  
@media (max-width: 700px) {
  .square {
    height: 80px;
    width: 80px;
  }
}